button {
    color: rgb(255, 255, 255);
    font-weight: bold;
    background-color: rgb(136, 136, 136);
    border-radius: 5px;
    border: 3px solid rgb(85, 85, 85);
    margin: 0.5em;
    padding: 0.75em;
    cursor: pointer;
    display: none;
}

.top-left {
    position: fixed;
    top: 0;
    left: 0;
}

.bottom-right{
    position: absolute;
    right:    0;
    bottom:   0;
}
@media (max-width: 800px) {
    button {
        display: block;
    }
}